.background-container {
    height: 100vh;
    background: url("../images/emptycinema2.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
    
footer {
    height: 150px;
    background-color: #343a40;
}
    
.social-networks-footer {
    text-align: center;
}
    
.social-networks-footer > li {
    display: inline;
    }
    
.social-networks-footer i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}